
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinancyApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinancyApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@400;700&family=Jura:wght@300;400;500&family=Montserrat&family=Nunito:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu">
            <div class="heading">
            <img class="menu-avatar" src="photos/Main-photo.png">
            <div class="title">
                <h1>Financy App</h1>
            </div>
        </div>
            <div class="list-menu">
                <ul class="navigation-list">
                    <li>
                        <img class="img-item" src="photos/log_in.png">
                        <a class="list-text" href="#">Log in</a>
                    </li>
                    <li>
                        <img class="img-item" src="photos/registration-icon-1.png"  />
                        <a class="list-text" href="#">Register</a>
                    </li>
                    <li>
                        <img class="img-item" src="photos/info_icon-1.png" />
                        <a class="list-text" href="#">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
